body{font-family: Tahoma;font-size: 14.5px;}
@media print {
  footer {page-break-after: always;}
}
table,tr,td,th{
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
}
h1#pagebreak{page-break-after:always;}
table#ip_details {
        margin-top: -20px;
        margin-bottom: 10px;
        width: 700px;
        margin-bottom: 30px;
        font-size: 13.5px;
}
.ip_details h4{
        text-decoration: underline;
        color: #0243a1;
        font-weight: bold;
        margin-left: -500px;
}
#ip_details td#point{
        font-weight: bold;
        color: #0243a1;
        text-align: left;
        padding-left: 10px;
}
#ip_details td#details{
        text-align: left;
        font-weight: bold;
        padding-left: 10px;
}
.vuln_list th{
        background: #0243a1;
        color: white;
}
.vuln_list th{
        padding: 2px;
        word-break: break-all;
        word-wrap: break-word;
        text-align: center;
}
.vuln_list #score{
        width: 85px;
        text-align: center;
}
.vuln_list #version{
        width: 100px;
        text-align: center;
}
.vuln_list #risk_critical{
        width: 75px;
        background-color: darkred;
        color: white;
        text-align: center;
}
.vuln_list #risk_high{
        width: 75px;
        background-color: red;
        color: white;
        text-align: center;
}
.vuln_list #risk_medium{
        width: 75px;
        background-color: #FFC000;
        color: white;
        text-align: center;
}
.vuln_list #risk_low{
        width: 75px;
        background-color: #86fc40;
        color: white;
        text-align: center;
}
.vuln_list #risk_informational{
        width: 75px;
        background-color: #00B0F0;
        color: white;
        text-align: center;
}
.vuln_list #sl{
        width: 20px;
        text-align: center;
}
.vuln_list td#v_name{
        text-align: left;
        padding-left: 5px;
        padding-bottom: 5px;
}
p { 
        margin-left: 100px; 
        font-weight: bold;
        text-decoration: underline;
}
table.vuln{
        width: 700px;
        margin-bottom: 50px;
        font-size: 13.5px;
}
tr#vuln{
        color: white;
        font-size: 17.5px;
}
.critical tr#vuln{background-color: darkred;}
.critical #point{color: darkred;}
.high tr#vuln{background-color: red;}
.high #point{color: red;}
.medium tr#vuln{background-color: #FFC000;}
.medium #point{color: #FFC000;}
.low tr#vuln{background-color: #86fc40;}
.low #point{color: #86fc40;}
.informational tr#vuln{background-color: #00B0F0;}
.informational #point{color: #00B0F0;}
#vuln #point{
        font-weight: bold;
        color: white;
}
.vuln #point{
        font-weight: bold;
        padding-left: 5px;
}
.vuln #info{padding-left: 5px;}
#vuln #sl{ padding-left: 5px; }
#vuln #point #name{padding-left: 5px;}
#vuln #point #rate{padding-left: 25px;}
#classification #point{font-weight: bold;}
#reference #point{
        text-align: left;
        margin-left: -100px;
        color: black;
}
#reference #ol{margin-top: -20px;}
#reference #li {
        margin-left: -70px;
        font-size: 13px;
}
tr#classification{font-size: 14.5px;}
.vuln #left{width: 50px;}
